.background {
    background-color: black;
}

.back_arrow {
    width: 25px;
    height: 25px;
    align-self: flex-start;
}

.Treaty_Creator_calculator_container {
    width: 100%;
    height: 522px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.Treaty_Creator_calculator_container_Input {
    margin-bottom: 10px;
}

.Treaty_Creator_calculator_container_Input label {
    display: block;
    font-weight: bold;
}

.Treaty_Creator_calculator_container_Input input[type="text"] {
    width: 100%;
    padding: 5px;
}

.Treaty_Creator_calculator_container_Input input[type="submit"] {
    padding: 10px;
}

.Treaty_Creator_container_text {
    color: white;
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}